{{template "base" .}}
{{define "content"}}
<!--
<div>
  <img src="/static/img/woman-laptop.png" alt="woman with laptop" />
</div>
-->
<header>
  <nav class="text-xl font-bold flex justify-between">
    <div>LOGO</div>
    <div>NAVIGATION</div>
  </nav>
  <div>
    <h1>Polls that are fun, to do</h1>
    <p>
      The easy polling system that will make your customers love responding
      again.
    </p>
    <a href="#">Start today</a>
  </div>
</header>
{{ end }}
